#barramenu{
	background: #FFCC99;
}
#recipe{
	 background: #FFCC99;
}
#tab2{
	background: #FF9900;
}
#tab1{
	background: #FFCC99;
}
#id1{
	background: #FF9900;
}
#id2{
	 background: #FF9900;
}
#id3{
	background: #FF9900;
}
.modal-footer{
	margin-left: 10px;
}